body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-colour{
    color: orange;
}
section{
    display: flex;
    
}
.half-width{
    width:50%;
    padding-left: 7%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(orange , tomato);
    padding:10px 40px;
    color:white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    margin-top: 120px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-half{
    width:50%;

}
.dream-half img{
    width:100%;

    
}